In [31]:
import pandas as pd

url_Data2 = pd.read_csv("E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data2.csv",index_col=0)
url_Data2.head()

                       label
url
diaryofagameaddict.com   bad
espdesign.com.au         bad
iamagameaddict.com       bad
kalantzis.net            bad
slightlyoffcenter.net    bad

In [32]:
label_dict = {"bad" : 1, "good":0}

url_Data2['result'] = url_Data2['label'].map(label_dict)

url_Data2.head()

                       label  result
url
diaryofagameaddict.com   bad       1
espdesign.com.au         bad       1
iamagameaddict.com       bad       1
kalantzis.net            bad       1
slightlyoffcenter.net    bad       1

In [33]:
url_Data2["label"] = url_Data2["label"].map(lambda x: "benign" if "good" in x else "malicious" if "bad" in x else "")

url_Data2.head()

                            label  result
url
diaryofagameaddict.com  malicious       1
espdesign.com.au        malicious       1
iamagameaddict.com      malicious       1
kalantzis.net           malicious       1
slightlyoffcenter.net   malicious       1

In [35]:
url_Data2.to_csv('E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data2_m.csv')

In [36]:
url_data1 = pd.read_csv("E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data1.csv",index_col=0)

url_data1.head()

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0

In [40]:
url_data1.set_index("url", inplace = True)
url_data1.head()

                            label  result
url
https://www.google.com     benign       0
https://www.youtube.com    benign       0
https://www.facebook.com   benign       0
https://www.baidu.com      benign       0
https://www.wikipedia.org  benign       0

In [41]:
url_data1.to_csv('E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data1_m.csv')

In [57]:
r1,c1 = url_Data2.shape
r2,c2 = url_data1.shape

print(r1,c1,r2,c2)

420464 2 450176 2

In [44]:
url_data1['label'].unique()

array(['benign', 'malicious'], dtype=object)

In [45]:
url_Data2['label'].unique()

array(['malicious', 'benign'], dtype=object)

In [51]:
url_data2mod = pd.read_csv("E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data2_m.csv", index_col = 0)
gb = url_data2mod.groupby("label")
gb_mal = gb.get_group('malicious')

gb_mal.head()

                            label  result
url
diaryofagameaddict.com  malicious       1
espdesign.com.au        malicious       1
iamagameaddict.com      malicious       1
kalantzis.net           malicious       1
slightlyoffcenter.net   malicious       1

In [56]:
r3,c3 = gb_mal.shape
print(r3,c3)

75643 2

In [59]:
db_merged = pd.concat([url_data1, gb_mal], axis = 0)
r4,c4 = db_merged.shape
print(r4,c4)
db_merged.head()

525819 2

                            label  result
url
https://www.google.com     benign       0
https://www.youtube.com    benign       0
https://www.facebook.com   benign       0
https://www.baidu.com      benign       0
https://www.wikipedia.org  benign       0

In [60]:
db_merged.tail()

                        label  result
url
23.227.196.215/     malicious       1
apple-checker.org/  malicious       1
apple-iclods.org/   malicious       1
apple-uptoday.org/  malicious       1
apple-search.info   malicious       1

In [61]:
db_merged.to_csv('E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data_final.csv')

In [2]:
import pandas as pd

In [7]:
db_merged = pd.read_csv("E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data_final.csv", index_col = 0 )
db_merged.head()

                            label  result
url
https://www.google.com     benign       0
https://www.youtube.com    benign       0
https://www.facebook.com   benign       0
https://www.baidu.com      benign       0
https://www.wikipedia.org  benign       0

In [9]:
#benign = 2, malicious = 4

label_dict2 = {1 : 4, 0 : 2}

db_merged['result'] = db_merged['result'].map(label_dict2)

db_merged.head()

                            label  result
url
https://www.google.com     benign       2
https://www.youtube.com    benign       2
https://www.facebook.com   benign       2
https://www.baidu.com      benign       2
https://www.wikipedia.org  benign       2

In [10]:
db_merged.tail()

                        label  result
url
23.227.196.215/     malicious       4
apple-checker.org/  malicious       4
apple-iclods.org/   malicious       4
apple-uptoday.org/  malicious       4
apple-search.info   malicious       4

In [11]:
db_merged.to_csv('E:\programs\python programs\ml basics\youtube_playlist1\minorP\link_data_final.csv')